
.home-image{
    padding: 0px;    
    margin: 0px;
    height: 350px;
    margin: 10px 5%;
    width: 87%;

}

#home-container{
    background-color: white;
}

.home-discount-container{
    display: flex;
}

.home-discount-under-price{
    display: flex;
    gap: 20px;
}

.home-discount-different-category{
    display: flex;
    gap: 20px;
}