#products-main{
    display: flex;
}

.products-main-sidebar{
    height: 930px;
    width: 260px;
    position: static;
}

.products-main-sidebar-filterByType{
    border: 2px solid #aaaaaa;
    height:160px;
    width: 180px;
    padding: 25px;
}

.products-main-sidebar>h3{
    padding-left: 20px;
}

.products-main-sidebar>div{
    padding-left: 20px;
}

.products-main-filter-left{
    display: flex;
    margin-right: 500px;
}

.products-main-filter{
    margin-top:  12px;
    display: flex;
}

.products-main-data-page{
    width: 80%;
}

.products-main-data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.not-found{
    margin:50px 300px;
    height:300px;
    width: 300px;
}

.product-price{
    display: flex;
    gap: 10px;
    margin-top: -20px;
}

.product-price>p{
   margin-top: 21px;
   text-decoration-line: line-through;
}

.product-price span{
    margin-top: 21px;
    color: red;
}

.product-element-card-info{
    padding: 10px;
    line-height: 10px;
}

.product-main-sidebar-filterByCategory{
    border: 2px solid #aaaaaa;
    border-top: none;
    height:220px;
    width: 204px;
    margin-top: 0px;
    padding: 1px;
}